*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

body {
    background-color: black;
    color:aliceblue;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.container {
   max-width:  800px;
    margin: 0 auto;
    padding: 25px;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid rgb(44, 4, 57);
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #a25cce;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color:aliceblue;
    transition: 0.3s;
}

a:hover {
    color: blueviolet;
}

button {
    background-color: #6c209c;
    color: antiquewhite;
    border: none;
    border-radius: 15px;
    padding: 12px 24px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgb(44, 4, 57);
    font-weight: bold;

}

button:hover {
    background-color: #451464;
}

.post {
    background-color: rgb(99, 58, 133);
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 0 10px 15px rgb(44, 4, 57);

}

.feed {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;

}

.data {
    font-size: 12px;
    text-align: end;
    color:rgb(102, 102, 102);
}